[Unit]
Description=Shirasagi Unicorn Server
After=mongod.service
[Service]
User=SS-USER
WorkingDirectory=SS-DIR
ExecStart=RVM-HOME/wrappers/default/bundle exec rake unicorn:start
ExecStop=RVM-HOME/wrappers/default/bundle exec rake unicorn:stop
ExecReload=RVM-HOME/wrappers/default/bundle exec rake unicorn:restart
Type=forking
PIDFile=SS-DIR/tmp/pids/unicorn.pid
[Install]
WantedBy=multi-user.target
